$container-white: #f3f4f8;
$light-text: #d2d4da;
$medium-light: #b3b5bd;
$medium: #939691;
$true-medium: #777986;
$medium-dark: #5b5d6b;
$main-dark: #494252;
$off-black-text: #282a3a;
$app-bg: #d9d9d9;
