@import "colors";
@import "variables";

.allTeamsHomeContainer {
    display: flex;
    flex-direction: column;
    background-color: $app-bg;
    height: 100%;
    align-items: center;
    padding: $pageMainPadding;
    gap: $pageCardGaps;

    .teamsHeaderBar {
        display: flex;
        text-transform: uppercase;
        color: $off-black-text;
        font-size: 2em;
        align-items: center;
        padding-left: $cardInteriorPadding;
        text-align: start;
        background-color: $off-white;
        box-shadow: $containerBoxShadow;
        width: 90%;
        height: 10%;
        font-weight: bold;
        min-height: 10vh;
        max-width: $maxContainerSize;
        margin-bottom: 3%;
    }

    .divisionContainer {
        display: flex;
        justify-content: space-around;
        background-color: $off-white;
        padding-left: $cardInteriorPadding;
        padding-top: $cardInteriorPadding;
        padding-bottom: $cardInteriorPadding;
        box-shadow: $containerBoxShadow;
        width: 90%;
        max-width: $maxContainerSize;
        margin-bottom: 3%;
    }
}
