@import "colors";

html,
body {
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    font-family: "Sarabun", sans-serif;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: "Sarabun", sans-serif;
}

.app-logo {
    font-family: "Sarabun", sans-serif !important;
}

.item-selector {
    cursor: pointer;
    color: #3a3855;
}

.home-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 2.5%;
    grid-row-gap: 3.5%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.home-tile {
    position: relative;
    width: 25vw;
    height: 25vh;
    border-radius: 1.5em;
    max-width: 500px;
    cursor: pointer;
}

.home-tile img {
    height: 100%;
    width: 100%;
    border-radius: 1.5em;
}

.tile-text {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    font-size: 1em;
    color: #e4e4e4;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.statTable {
    width: 100%;
    max-width: 2000px;
    height: 100%;
}

.weekly-team-page {
    background-color: $app-bg;
    min-height: 100vh;
    width: 100%;
}

.weekly-team-stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox:hover {
    background-color: #504e72;
    color: #e4e4e4;
    cursor: pointer;
}

.MuiButton-text {
    color: $primary-dark !important;
}

.front-page-img-container {
    width: 100%;
    height: 50% !important;
    max-height: 50% !important;

    span {
        height: 100% !important;
    }
}

.front-page-img {
    min-height: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
}

// .MuiDataGrid-columnHeaderTitleContainer {
//     flex-wrap: wrap !important;
//     white-space: normal !important;
//     overflow-wrap: break-word !important;
//     word-break: break-all !important;
//     max-width: 200px !important;
//     text-overflow: initial !important;
// }
