@import "colors";
@import "variables";

.personnelPageContainer {
    .personnelPage {
        display: flex;
        justify-content: center;
        padding: $pageTopBottomPadding;
        padding-top: 2%;
        flex-direction: column;
        background-color: $app-bg;
        min-height: 100%; // 100vh;
        width: 100%;

        .selectorTrayContainer {
            width: 90%;
            max-width: $maxContainerSize;
            margin: auto;
            display: flex;
        }
    }
}
