@import "colors";
@import "variables";

.playerStatsPageContainer {
    .statPageArea {
        background-color: $app-bg;
        min-height: 100%;
        width: 100%;

        .statsMainContainer {
            padding: $pageTopBottomPadding;
            padding-top: 2%;
            width: 100%;
            min-height: 70vh;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .selectorTrayContainer {
                width: 90%;
                max-width: $maxContainerSize;
                display: flex;
                padding: $pageMainPadding;
            }

            .statTableContainer {
                width: 90%;
                max-width: $maxContainerSize;
                height: auto;
                box-shadow: $containerBoxShadow;
                background-color: $off-white;
                margin-bottom: 3%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
