@import "colors";

.chartBody {
    background-color: $container-white;
    width: 100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;

    .barChart {
        width: 100%;
        background-color: $container-white;
        font-size: 0.7em;
    }
}
