@import "colors";
@import "variables";

.usagePageContainer {
    .usagePage {
        display: flex;
        justify-content: center;
        padding-top: 4%;
        padding-bottom: 4%;
        flex-direction: column;
        background-color: $app-bg;
        min-height: 100%; // 100vh;
        width: 100%;

        .selectorTrayContainer {
            width: 90%;
            max-width: 2000px;
            margin: auto;
            display: flex;
        }
    }
}
