@import "colors";

.cardArea {
    width: min-content;

    .weekCard {
        display: flex;
        flex-direction: column;
        background-color: #f3f4f8;
        padding: 4%;
        border-radius: 0.5em;
        box-shadow: 0px 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.25);
        color: #282a3a;
        min-width: 10em;
        width: fit-content;

        .cardHeader {
            text-transform: uppercase;
            font-weight: bold;
        }

        .cardBody {
            padding: 5%;
            cursor: pointer;
        }
    }

    .expandedBody {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #f3f4f8;
        padding: 3%;
        height: fit-content;
        width: fit-content;
        box-shadow: 0px 0.15em 0.15em 0.15em rgba(0, 0, 0, 0.25);
        border-radius: 0.5em;
        margin-top: 2%;
        z-index: 999;

        .weeksLabel {
            display: flex;
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 0.4em;
            width: 100%;
        }

        .weekBoxes {
            display: flex;
            width: 100%;
            padding-left: 2%;
            padding-right: 2%;
            padding-top: 2%;
            padding-bottom: 2%;

            .checkboxActive,
            .checkboxInactive {
                width: 100%;
                text-align: center;
                cursor: pointer;
                height: 100%;
                align-items: center;
                display: flex;
                font-size: 1em;
                justify-content: center;
                padding: 0.2em 0.4em;
            }

            .checkboxActive {
                background-color: $secondary-dark;
                color: $off-white;
            }

            .checkboxInactive {
                background-color: $off-white;
                color: $secondary-dark;
            }
        }

        .controlBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.25em 0.5em;
            border-radius: 0.5em;
            width: 7em;
            height: 2.5em;
            text-align: center;
            background-color: $medium-dark;
            cursor: pointer;
            font-size: 0.75em;
            color: $off-white;
            text-transform: uppercase;
            box-shadow: 1px 2px 5px 1px rgba(201, 201, 201, 0.6);
        }

        .closeBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.25em 0.5em;
            border-radius: 0.5em;
            width: 7em;
            height: 2.5em;
            text-align: center;
            background-color: $light-text;
            cursor: pointer;
            border: 2px solid $medium-dark;
            font-size: 0.75em;
            color: $medium-dark;
            font-weight: bold;
            text-transform: uppercase;
            box-shadow: 1px 2px 5px 1px rgba(201, 201, 201, 0.6);
        }
    }
}
